@{
    ViewData["Title"] = "Deletar";
}

@{
  <main style="text-align: center; align-items: center; align-content: center">
        <h2>Funcionário Deletado com Sucesso!</h2>

        <br />

        <button type="button" class="btn btn-primary" onclick="Voltar()">Lista de Funcionários</button>

        <script>
            function Voltar() {
                window.location.href = '../Index';
            }
        </script>
  </main>

}
